@model GhostStory.Models.Member

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout_Manager.cshtml";
}

<h2>Delete</h2>

<div class="container">
    <div class="text-center col">
        <h3>
            <span class="badge badge-danger"> 文章刪除</span>
        </h3>
        <hr />
    </div>
    <div class=" img-fluid text-center ">

        <img src="~/images/warning_01.png" />

        <div class=" justify-content-lg-center ">


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('確定刪除嗎?!')" />
                    @Html.ActionLink("取消刪除", "Index", "", new { @class = "btn btn-success" })
                </div>
            }
        </div>


    </div>




</div>
