body {
 
    background-image: url('../images/bg_3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /*background-color: rgba(255, 255, 255, 0.5);*/
}







/* 登入框樣式 */
.container01 {
    position: relative;
    width: 400px;
    min-height: 400px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-right: auto;
    margin-left: auto;
    margin-top:150px;
 
}

.form {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 50px;
}







/* 登入標題樣式 */
.form h2 {
    position: relative;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 5px;
    margin-bottom: 30px;
    cursor: pointer;
}

        /* 登入標題的下劃線樣式 */

        .form h2::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: -10px;
            width: 0px;
            height: 3px;
            background: #fff;
            transition: 0.5s;
        }

        .form h2:hover:before {
            width: 53px;
        }

    .form .inputBox {
        width: 100%;
        margin-top: 20px;
    }

        /* 輸入框樣式 */

        .form .inputBox input {
            width: 100%;
            padding: 10px 20px;
            background: rgba(255, 255, 255, 0.2);
            outline: none;
            border: none;
            border-radius: 30px;
            border: 1px solid rgba(255, 255, 255, 0.5);
            border-right: 1px solid rgba(255, 255, 255, 0.2);
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            font-size: 16px;
            letter-spacing: 1px;
            color: #fff;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
            border-radius: 50%
        }

            .form .inputBox input::placeholder {
                color: #fff;
            }

            /* 登入按鈕樣式 */

            .form .inputBox input[type="submit"] {
                background: #fff;
                color: #666;
                max-width: 100px;
                margin-bottom: 20px;
                font-weight: 600;
                cursor: pointer;
                
            }

.forget {
    margin-top: 6px;
    color: #fff;
    letter-spacing: 1px;
}

    .forget a {
        color: #fff;
        font-weight: 600;
        text-decoration: none;
    }


